.disabled {
	pointer-events: none;
}

.post-list ul {
	list-style: none;
}

.post-list li {
	color: #fff;
	padding:40px 15px;
}

#app {
	min-height: 100vh;
}

.sidebar { 
	background: gray; 
}

.sidebar, .sidebar > .row:first-child {
	height: 100%;
}